@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";
@theme {
    --color-background: #030712;
    --color-foreground: #1a223b;
    --color-secondary: #35405e;
    --color-highlight: #00bcff;
    --color-text-primary: #dde2ea;
    --color-text-secondary: #c5c9d1;
    --color-text-gray: #7a869a;
}

@layer base {
    body {
        background-color: var(--color-background);
        font-family: "Ubuntu", sans-serif;
    }

    *:not(a) {
        color: var(--color-text-primary);
    }

    a:visited {
        color: rgb(68, 130, 201);
    }

    a:hover {
        color: rgb(68, 130, 201);
    }

    a:link {
        color: rgb(68, 130, 201);
    }
}
