@import "tailwindcss";
@theme {
    --color-background: #030712;
    --color-foreground: #171c29;
    --color-secondary: #212736;
    --color-highlight: #00bcff;
    --color-text-primary: #dde2ea;
    --color-text-secondary: #c5c9d1;
    --color-text-gray: #7a869a;
}

@layer base {
    body {
        background-color: var(--color-background);
        font-family: "Inter", sans-serif;
    }

    *:not(a) {
        color: var(--color-text-primary);
    }

    a:visited { color: rgb(68, 130, 201); }
    
    a:hover { color: rgb(68, 130, 201); }
    
    a:link { color: rgb(68, 130, 201); }
}
